:root {
  --primary-Brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-Text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;

  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

body {
  color: var(--text, #434455);
  background-color: var(--white-background);
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  /* padding: 0; */
}

img {
  display: block;
}

/* ul {
  display: block;
  padding-left: 0;
} */

.container {
  display: flex;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
  /* padding-left:   */
  /* padding-right:   */
  margin-left: auto;
  margin-right: auto;
  /* background-color: #31d0aa; */
}

.flexbox {
  /* background-color: #31d0aa; */
  /* розташування пунктів меню по горизонталі */
  display: flex;
  flex-wrap: wrap;
  /* для визначення відступів між пунктами меню (можна використовувати margin-right: 40px 
  для тега li у класі, для останього li використовуємо margin-right: 0 для обнулення відступів */
  gap: 40px;
  /* для визначення відступів всередині посилання (можна використовувати аналог padding: 24px 0 24px 
  або padding-top: 24px; та padding-bottom: 24px;) */
  /* padding: 24px 0; */
  /* Центруєм по поперечній осі */
  align-items: center;
  flex-basis: auto;
  /* margin-top: 20px; */
}

.container .link {
  padding: 24px 0;
}

.header {
  border-bottom: 1px solid var(--accent, #e7e9fc);
}

.header-logo-web,
.footer-logo-web {
  margin-right: 76px;
  color: var(--primary-Brand, #4d5ae5);
  font-weight: 800;
  font-size: 18px;
  font-family: var(--secondary-font);
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.header-logo-studio,
.header-nav-link {
  color: var(--dark, #2e2f42);
}

.header-nav-link {
  font-weight: 500;
}

.link:hover,
.link:focus,
.hero-button:hover,
.hero-button:focus {
  color: var(--pressed-state, #404bbf);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state, #404bbf);
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--white-background, #ffffff);
  background-color: var(--pressed-state, #404bbf);
  border: 1px solid transparent;
}

.header-addres {
  font-style: normal;
}

.header-addres-link {
  color: var(--text, #434455);
}

.hero {
  padding: 188px 0;
  background: var(--dark, #2e2f42);
}

.hero-title {
  max-width: 496px;
  color: var(--white-background, #fff);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
}

.hero-button,
.portfolio-button {
  background: var(--primary-Brand, #4d5ae5);
  font-family: var(--primary-font);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  background-color: var(--primary-Brand, #4d5ae5);
}

.portfolio-button {
  background-color: var(--light, #f4f4fd);
  color: var(--primary-Brand, #4d5ae5);
  padding: 12px 24px;
  border: 1px solid var(--accent, #e7e9fc);
  border-radius: 4px;
}

.main-features-title,
.main-team-photo,
.main-team-title,
.portfolio-project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark, #2e2f42);
}

.main-features,
.main-what,
.main-team {
  padding: 120px 0 120px;
}

.main-features .list,
.main-what .list,
.main-team .list,
.portfolio-filters .list {
  gap: 24px;
}

.main-features-item {
  flex-basis: calc((100% - 72px) / 4);
}

.portfolio-filters .item {
  flex-basis: calc((100% - 48px) / 3);
}

.main-team-photo {
  border-radius: 0px 0px 4px 4px;
}

.name-tead {
  padding: 32px 16px;
}

.main-features-title,
.main-team-title,
.name-tead {
  margin-bottom: 8px;
}

.main-what-pades,
.main-team-pages,
.portfolio-filters .list {
  margin-bottom: 72px;
}

.main-what-pades,
.main-team-pages {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark, #2e2f42);
}

.hero-title,
.main-what-pades,
.main-team-pages,
.main-team-title,
.name-tead {
  text-align: center;
}

.main-team {
  text-transform: capitalize;
  background-color: var(--light, #f4f4fd);
}

.main-team-photo {
  background-color: var(--white-background, #ffffff);
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text, #434455);
}

.footer {
  padding: 100px 0;
  background-color: var(--dark, #2e2f42);
}

.footer-logo-web {
  margin-bottom: 16px;
  display: inline-block;
}

.footer-text {
  max-width: 264px;
}

.footer-logo-studio,
.footer-text {
  color: var(--light, #f4f4fd);
}

.portfolio-filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filters .list {
  justify-content: center;
  row-gap: 48px;
}

.portfolio-filters {
}
